@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-light p-5 rounded">
    <h1 class="display-4 text-primary">Selamat Datang!</h1>
    <p class="lead">Pelajari tentang <a href="https://en.wikipedia.org/wiki/Coffee" class="text-decoration-none">kopi dan manfaatnya</a>.</p>
    <hr class="my-4">
    <p>Kopi adalah minuman yang diseduh dari biji kopi yang dipanggang, yang berasal dari tanaman Coffea.</p>
    <a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Coffee" role="button">Pelajari lebih lanjut</a>
</div>
